body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  position: relative;
  left: 15px;
}
h3 {
  font-size: 15px;
}
.fas {
  font-size: 100px;
}
.day {
  color: #0fc0db;
}
.night {
  color: #073d44;
}
.cloud {
  color: #315054;
}
.fa-snowflake {
  color: #85cbd3;
}

.fa-sun {
  color: yellow;
}
.small {
  font-size: 50px;
  position: relative;
  right: 5px;
}
#forecast1 {
  margin: 0;
}
#date-time {
  line-height: 1px;
  font-weight: BOLD;
}
p {
  color: gray;
}
#search-button {
  position: relative;
  right: 10px;
  width: 80px;
  background-color: #17a2b8;
  border: none;
}
#search-button:hover {
  background-color: #0c6d7c;
  cursor: default;
}
#current-location-button {
  height: 38px;
  position: relative;
  right: 30px;
  border: none;
}
.fa-map-marker-alt {
  color: white;
  font-size: 20px;
  position: relative;
  right: 7px;
  top: 2px;
}

.weather-app {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 30px 30px 0px 30px;
  width: 500px;
}

.units {
  position: relative;
  left: 90px;
  bottom: 40px;
}
#maxmin {
  line-height: 0px;
}
#temperature-degrees {
  line-height: 0px;
  position: relative;
  right: 40px;
}

.forecast {
  font-size: 30px;
  color: gray;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
.footer {
  margin-left: 20px;
}
